<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile Create</title>
  </head>
  <body>
    <h1>Create your Profile</h1>
    <div>
      <form action="/profilecreate" method="post">
        <input type="text" name="name" placeholder="enter your name.." />
        <input type="text" name="age" placeholder="enter your age..." />
        <input type="text" name="email" placeholder="enter your email.." />
        <input
          type="text"
          name="password"
          placeholder="enter your password.."
        />
        <button type="submit">Create</button>
      </form>
    </div>
  </body>
</html>
