<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Section</title>
  </head>
  <body>
    <h1>Login Section</h1>

    <div>
      <form action="/login/check" method="post">
        <input type="text" name="email" placeholder="enter your email" />
        <input type="text" name="password" placeholder="enter your password" />
        <button type="submit">Login</button>
      </form>
    </div>
  </body>
</html>
