<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Users Details</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="h-full w-full bg-zinc-900">
    <h1 class="flex justify-center text-5xl font-semibold text-white mt-5">
      All Users Details
    </h1>
    <div class="nav text-red-500 ml-20">
      <a href="/">Add User</a>
    </div>
    <!--User Card-->
    <div class="flex gap-3 flex-wrap mt-10">
      <% userDetails.forEach(function(list){ %>
      <div
        class="userone max-w-64 bg-zinc-500 ml-20 pt-5 rounded-md overflow-hidden"
      >
        <div class="w-52 h-72 bg-zinc-700 mx-4 text-white rounded-md pl-1">
          <img
            class="w-full h-full object-cover object-center"
            src="<%= list.imageurl %>"
            alt=""
          />
        </div>
        <p class="text-white pl-2 py-2"><%= list.name %></p>
        <p class="text-white pl-2"><%= list.email%></p>
        <p class="text-white pl-2"><%= list.age%></p>
        <div class="flex gap-3 mt-10 mb-6 ml-5 pb-5">
          <a class="text-blue-300 font-bold" href="">Edit User</a>
          <a class="text-red-500 font-bold" href="">Delete User</a>
        </div>
      </div>

      <% }) %>
    </div>
  </body>
</html>
